<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- Navbar with bootstrap -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <% if(title == "Home"){ %>
        <a class="nav-link active" href="/">
        <% }else{ %>
        <a class="nav-link" href="/">
        <% } %>
        <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <% if(title == "Projects"){ %>
        <a class="nav-link active" href="/projects">
        <% }else{ %>
        <a class="nav-link" href="/projects">
        <% } %>
        <i class="fas fa-diagram-project"></i> 
          Projects
        </a>
      </li>
      <li class="nav-item">
        <% if(title == "Services"){ %>
        <a class="nav-link active" href="/services">Services</a>
        <% }else{ %>
        <a class="nav-link" href="/services">Services</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(title == "About Me"){ %>
        <a class="nav-link active" href="/about">About Me</a>
        <% }else{ %>
        <a class="nav-link" href="/about">About Me</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(title == "Inventory List"){ %>
        <a class="nav-link active" href="/inventory/list">Inventory List</a>
        <% }else{ %>
        <a class="nav-link" href="/inventory/list">Inventory List</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(title == "Contact"){ %>
        <a class="nav-link active" href="/contact">Contact</a>
        <% }else{ %>
        <a class="nav-link" href="/contact">Contact</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(title == "Julio"){ %>
        <a class="nav-link active" href="/users/julio">User</a>
        <% }else{ %>
        <a class="nav-link" href="/users/julio">User</a>
        <% } %>
      </li>
    </ul>