<!-- Student ID: 301216721
Name: Kin Man Tung
Date: 8/10/2022 -->
<% include partials/header.ejs%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
    <p>Kin Man Tung</p>
    <img src="/images/myPhoto.JPG" alt="my photo" style="width: 100px">

    <!-- Type some personal information here -->
    <p>My name is Kin Man Tung. I study Software Technician at Centennial College.
        I love playing computer games like League of Legends, Apex and Elden Ring.
          This hobby makes me learn computer languages and know how difficult to make a game.
           I hope I can make a game in the future and everyone loves my game.</p>

    <!-- Add pdf of resume -->
    <a href="/pdf/Resume - Kin Man Tung(Ca).pdf">Here is my resume</a>
    <% include partials/footer.ejs%>