<!-- Student ID: 301216721
Name: Kin Man Tung
Date: 8/10/2022 -->
<% include partials/header.ejs%>

<!-- Type some information and create a button to About Me -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
    <p>My Name is Kin Man Tung</p>
    <a href="/aboutme">
        <button class="button1">About Me!</button>
    </a>

    <% include partials/footer.ejs%>
   