<!-- Student ID: 301216721
Name: Kin Man Tung
Date: 8/10/2022 -->
<% include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>

    <!-- First project -->
    <h3>Gallery</h3>
    <img src="/images/gallery.PNG">
    <p>This is an assignment that I did last semester called gallery. This assignment can show different pictures.</p>

    <!-- Second project -->
    <h3>Registration Form</h3>
    <img src="/images/registrationForm.PNG">
    <p>This is an assignment that I did last semester called the registration form. This assignment can give user to register their information in this form.</p>

    <!-- Third project -->
    <h3>Game call BugSmasher</h3>
    <img src="/images/game.PNG">
    <p>This is an assignment that I did last semester called the Bug Smasher. This assignment is a game where players can touch the bug with the mouse. If the speed is too fast, play can click the reset speed to make the speed of the bug reset.</p>
  

<% include partials/footer.ejs %>