<!-- Student ID: 301216721
Name: Kin Man Tung
Date: 8/10/2022 -->
<% include partials/header.ejs%>

<!-- Type some information with services -->
    <% if(title == "Services"){  %>
        <div class="container mt-3">
            <h2>Services</h2>
            
            <table class="table table-striped">
            <thead>
                <tr>
                <th>Offer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>general programming</td>
                </tr>
                <tr>
                <td>web development</td>
                </tr>
            </tbody>
            </table>
        </div>
    <% } 

    <% include partials/footer.ejs%>